<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan Student ID Card</ion-title>
    </ion-toolbar>
  </ion-header>

  {{tagContent}}

  <p style="text-align: center; width: 100%;">Tag Serial Number: <b>{{tagID}}</b></p>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
