<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile condense</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <h3 style="width: 100%;text-align: center;">Scan your Student ID Card</h3>
  <br>
  <br>

  <ion-card style="height: 200px; border-radius: 15px;">
    <ion-card-content></ion-card-content>
  </ion-card>

  <h6 style="width: 100%;text-align: center;padding: 15px;">Please place your Student ID card behind your phone as shown above</h6>

  <br>
  <div style="text-align: center;">
    <ion-spinner style="transform: scale(1.5);" name="crescent"></ion-spinner>
  </div>


</ion-content>
